<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Calendar app</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body id="transition">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn">&times;</a>
        <a href="javascript:void(0)" class="thumbbtn" onclick=""><i class="fas fa-thumbtack"></i></a>
        <h3 id="modalDayText"></h3>
        <form id="allData" action="">
            <div class="form-grid">
                <h3 class="add-event-h3">Event:</h3>
                <form class="form-1" action="">
                    <label for="add-event">
                <input placeholder="Add Event:"id="sideInput" class='eventName' type="text" name="eventName">
                </label>
                </form>
                <h3 class="time-h3">Time:</h3>
                <form class="form-2" action="">
                    <label for="add-time">
                <input class='timeVal' placeholder="Time:"id="sideInput"type="text">
                </label>
                </form>
                <h3 class="location-h3">Location:</h3>
                <form class="form-3" action="">
                    <label for="add-location">
                <input class='locVal' placeholder="Location:"id="sideInput"type="text">
                </label>
                </form>

                <!-- start end -->
                <form class="form-4" action="">
                    <label for="add-start">
                <input class='startVal' placeholder="Start:"id="sideInput"type="text">
                </label>
                </form>


                <form class="form-5" action="">
                    <label for="add-end">
                <input class='endVal' placeholder="End:"id="sideInput"type="text">
                </label>
                </form>
                <!-- time -->
                <form class="form-6" action="">
                    <label for="add-time-start">
                    <input class='startTime' placeholder="Time Start:" id="sideInput" type="text">
                </label>
                    <input class='AM1' value="AM" type="radio" name="time-of-day"><label for="am">AM</label>
                    <input class='PM1' value="PM" type="radio" name="time-of-day"><label for="pm">PM</label>
                </form>

                <form class="form-7" action="">
                    <label for="add-time-end">
                        <input class='endTime' placeholder="Time End:"id="sideInput"type="text">
                        </label>
                    <input class='AM2' value="AM" type="radio" name="time-of-day-end"><label for="am">AM</label>
                    <input class='PM2' value="PM" type="radio" name="time-of-day-end"><label for="pm">PM</label>
                </form>
                <!-- end time and start end -->

                <h3 class="color-h3">Color: </h3>
                <form class="color-dropdown" action="">

                    <input type="color" name="color-select" class="color-select" id="colorSelect">

                    </select>

                </form>

                <form class="form-8" action="">
                    <input class="submit" type="button" value="Submit">
                </form>
        </form>
        </div>
    </div>

    <div id="main">
        <div class="container-wrap">
            <div class="h1-container">

                <h1 id="month_Year"></h1>
                <a href="#" id="grid-prev" class="btn prev" onclick="prevMonth();"> <i class="fa fa-angle-left" id="btn-prev" aria-hidden="true" href="#"></i></a>
                <a href="#" id="grid-next" class="btn next" onclick="nextMonth();"><i class="fa fa-angle-right" id="btn-next" aria-hidden="true" ></i></a>

            </div>
            <div class="day-container">
                <div class="weekday">Sun</div>
                <div class="weekday">Mon</div>
                <div class="weekday">Tue</div>
                <div class="weekday">Wed</div>
                <div class="weekday">Thu</div>
                <div class="weekday">Fri</div>
                <div class="weekday">Sat</div>
            </div>






            <div class="container-wrap">
                <div class="calendar-container">

                    <div class="day" id="day0"></div>
                    <div class="day" id="day1"></div>
                    <div class="day" id="day2"></div>
                    <div class="day" id="day3"></div>
                    <div class="day" id="day4"></div>
                    <div class="day" id="day5"></div>
                    <div class="day" id="day6"></div>
                    <div class="day" id="day7"></div>
                    <div class="day" id="day8"></div>
                    <div class="day" id="day9"></div>
                    <div class="day" id="day10"></div>
                    <div class="day" id="day11"></div>
                    <div class="day" id="day12"></div>
                    <div class="day" id="day13"></div>
                    <div class="day" id="day14"></div>
                    <div class="day" id="day15"></div>
                    <div class="day" id="day16"></div>
                    <div class="day" id="day17"></div>
                    <div class="day" id="day18"></div>
                    <div class="day" id="day19"></div>
                    <div class="day" id="day20"></div>
                    <div class="day" id="day21"></div>
                    <div class="day" id="day22"></div>
                    <div class="day" id="day23"></div>
                    <div class="day" id="day24"></div>
                    <div class="day" id="day25"></div>
                    <div class="day" id="day26"></div>
                    <div class="day" id="day27"></div>
                    <div class="day" id="day28"></div>
                    <div class="day" id="day29"></div>
                    <div class="day" id="day30"></div>
                    <div class="day" id="day31"></div>
                    <div class="day" id="day32"></div>
                    <div class="day" id="day33"></div>
                    <div class="day" id="day34"></div>
                    <div class="day" id="day35"></div>
                    <div class="day" id="day36"></div>
                    <div class="day" id="day37"></div>
                    <div class="day" id="day38"></div>
                    <div class="day" id="day39"></div>
                    <div class="day" id="day40"></div>
                    <div class="day" id="day41"></div>

                </div>

            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script type="text/javascript" src="/javascripts/main.js"></script>
</body>

</html>