input.submit {
    text-align: center;
    padding: 1.2rem 2rem;
    margin: 0 auto;
    border: 1px solid $gray;
    display: inline-block;
    background: white;
    border-radius: .4rem;
    align-self: center;
    &:hover {
        text-align: center;
        padding: 1.2rem 2rem;
        margin: 0 auto;
        display: inline-block;
        border: 1px solid $gray;
        cursor: pointer;
        transition: background .25s;
        background: $gray;
        border-radius: .4rem;
        align-self: center;
    }
}

#sideInput.submit {
    text-align: center;
}