.day {
    border-radius: 5px;
    align-self: center;
    text-align: center;
    background: $gray;
    color: black;
    padding: 2rem;
    margin: .25rem;
    &:hover {
        cursor: pointer;
        background: white;
        box-shadow: none;
        transition: background linear .25s;
    }
    &:not(:hover) {
        cursor: pointer;
        transition: box-shadow ease-out .2s;
    }
}

div.day.nonMonth {
    cursor: default;
    background: $secondary-color;
    color: rgba($dark, 0.5);
    box-shadow: none;
    &:hover {
        cursor: default;
        transition: none;
        box-shadow: none;
    }
}

.weekday {
    color: white;
}