input.submit {
    width: 45%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid $gray;
    display: inline-block;
    background: white;
    border-radius: 4px;
    box-sizing: border-box;
    &:hover {
        width: 45%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid $gray;
        cursor: pointer;
        transition: background .25s;
        background: $gray;
        border-radius: 4px;
        box-sizing: border-box;
    }
}